---
import { getCollection, type CollectionEntry } from 'astro:content'
import BlogPost from '../../layouts/blog-post.astro'

export async function getStaticPaths() {
  const posts = await getCollection('blog')
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }))
}
type Props = CollectionEntry<'blog'>['data'] & { slug: string }

const post = Astro.props;
const { Content } = await post.render()
---

<BlogPost {...post} slug={post.slug}> 
    <h1 class="mb-0">{post.data.title}</h1>
    <p class="mt-1">{new Date(post.data.pubDate).toLocaleDateString('en-US', { day: 'numeric', month: 'long', year: 'numeric' })}</p>
  <Content />
</BlogPost>
