---
import BaseHead from '../components/base-head.astro'
import Blogs from '../components/blogs.astro'
import Hero from '../components/hero.astro'
import Projects from '../components/projects.astro'
import Socials from '../components/socials.astro'
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts'
import MainLayout from '../layouts/main-layout.astro'
---

<!doctype html>
<html lang='en' class='dark'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <MainLayout>
      <Hero />
      <Projects />
      <Socials />
      <Blogs />
    </MainLayout>
  </body>
</html>
