---
import { Icon } from 'astro-icon/components'
import BaseHead from '../components/base-head.astro'
import Hero from '../components/hero.astro'
import SocialButtons from '../components/social-buttons.astro'
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts'
import MainLayout from '../layouts/main-layout.astro'
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <MainLayout>
      <div class='flex flex-col space-y-5'>
        <Hero />
        <SocialButtons />
        <div class='grid items-baseline grid-cols-1 gap-6 md:grid-cols-12'>
          <h1
            class='text-[rgba(0,0,0,0.51)] dark:text-[rgba(255,255,255,0.50)] font-thin col-span-2'
          >
            Projects
          </h1>
          <div class='col-span-10 font-thin'>
            <a
              class='w-full flex items-baseline space-x-3 group cursor-pointer'
              href='https://github.com/aacevski/unwrapit.me'
              target='_blank'
            >
              <h1 class='font-thin group-hover:text-blue-600'>unwrapit.me</h1>
              <span
                class='w-full border-t border-gray-300 border-dashed shrink dark:border-gray-600'
              ></span>
              <Icon
                name='arrow-up-icon'
                class='w-6 h-6 group-hover:-translate-y-0.5 transform transition-all'
              />
            </a>
            <a
              class='w-full flex items-baseline space-x-3 group cursor-pointer'
              href='https://github.com/aacevski/go-tify'
              target='_blank'
            >
              <h1 class='font-thin group-hover:text-blue-600'>gotify</h1>
              <span
                class='w-full border-t border-gray-300 border-dashed shrink dark:border-gray-600'
              ></span>
              <Icon
                name='arrow-up-icon'
                class='w-6 h-6 group-hover:-translate-y-0.5 transform transition-all'
              />
            </a>
          </div>
        </div>
      </div>
    </MainLayout>
  </body>
</html>
