---
import ColorfulLink from "./colorful-link.astro";
---

<img
  class="w-24 h-24 rounded-full"
  src="/andrej.png"
  alt="Andrej Acevski turned with his back wearing a hoodie and using a laptop"
/>
<h2 class="text-4xl font-medium mt-6">Andrej Acevski</h2>
<p>software engineer, open source advocate, content creator</p>
<p class="text-[rgba(0,0,0,0.48)] dark:text-[rgba(255,255,255,0.48)]">
  During the day I'm a software engineer
  <ColorfulLink
    class="decoration-green-600 hover:decoration-green-300"
    href="https://codechem.com"
    target="_blank"
  >
    @CodeChem
  </ColorfulLink>. At night I'm open sourcer and secretly an Arch Linux user.
</p>
