---
import { Image } from 'astro:assets'
import ColorfulLink from './colorful-link.astro'
---

<Image
  class='rounded-full w-[96px] h-[96px]'
  src='/andrej.webp'
  alt='Andrej Acevski turned with his back wearing a hoodie and using a laptop'
  width={96}
  height={96}
  loading='eager'
/>
<h2 class='text-4xl font-medium mt-6'>Andrej Acevski</h2>
<p class='mt-2 italic'>
  software engineer, open source advocate, content creator
</p>
<p class='text-[rgba(255,255,255,0.48)] mt-2'>
  During the day I'm a software engineer
  <ColorfulLink
    class='decoration-green-600 hover:decoration-green-300'
    href='https://codechem.com'
    target='_blank'
  >
    @CodeChem
  </ColorfulLink>. At night I love to contribute to open source and secretly I'm
  an Arch Linux user.
</p>
