---
import { Icon } from 'astro-icon/components'
---

<div class='grid items-baseline grid-cols-1 md:grid-cols-12 mt-2'>
  <h1
    class='text-[rgba(0,0,0,0.48)] dark:text-[rgba(255,255,255,0.48)] col-span-2 mb-2'
  >
    Projects
  </h1>
  <div class='col-span-10 font-light space-y-2'>
    <a
      class='w-full flex items-baseline space-x-3 group cursor-pointer'
      href='https://github.com/aacevski/unwrapit.me'
      target='_blank'
    >
      <p
        class='group-hover:text-blue-600 text-[rgba(0,0,0, 1)] dark:text-[rgba(255,255,255,1)] font-light'
      >
        unwrapit.me
      </p>
      <span
        class='w-full border-t border-gray-400 border-dashed shrink dark:border-gray-600'
      ></span>
      <Icon
        name='arrow-up-icon'
        class='w-6 h-6 group-hover:-translate-y-0.5 transform transition-all'
      />
    </a>
    <a
      class='w-full flex items-baseline font-light space-x-3 group cursor-pointer'
      href='https://github.com/aacevski/go-tify'
      target='_blank'
    >
      <p
        class='group-hover:text-blue-600 text-[rgba(0,0,0, 1)] dark:text-[rgba(255,255,255,1)]'
      >
        gotify
      </p>
      <span
        class='w-full border-t border-gray-400 border-dashed shrink dark:border-gray-600'
      ></span>
      <Icon
        name='arrow-up-icon'
        class='w-6 h-6 group-hover:-translate-y-0.5 transform transition-all'
      />
    </a>
  </div>
</div>
