---
import ProjectItem from './project-item.astro'
---

<div class='grid items-baseline grid-cols-1 md:grid-cols-12 mt-2'>
  <h1
    class='text-[rgba(0,0,0,0.48)] dark:text-[rgba(255,255,255,0.48)] col-span-2 mb-2 italic'
  >
    Projects
  </h1>
  <div class='col-span-10 font-light space-y-2'>
    <ProjectItem name="unwrapit.me" url="https://github.com/aacevski/unwrapit.me" />
    <ProjectItem name="go-tify" url="https://github.com/aacevski/go-tify" />
  </div>
</div>


<div class='grid items-baseline grid-cols-1 md:grid-cols-12 mt-8'>
  <h1
    class='text-[rgba(0,0,0,0.48)] dark:text-[rgba(255,255,255,0.48)] col-span-2 mb-2 italic'
  >
    Blog
  </h1>
  <div class='col-span-10 font-light space-y-2'>
    <p class="italic">Work in progress...</p> 
  </div>
</div>

