---
import { Icon } from 'astro-icon/components'

const { name, url } = Astro.props
---

<a
  class='w-full flex items-baseline space-x-3 group cursor-pointer'
  href={url}
  target='_blank'
>
  <p
    class='group-hover:text-blue-600 text-[rgba(0,0,0, 1)] dark:text-[rgba(255,255,255,1)] font-light shrink-0'
  >
    {name}
  </p>
  <span
    class='w-full border-t border-gray-400 border-dashed shrink dark:border-gray-600'
  ></span>
  <Icon
    name='arrow-up-icon'
    class='w-6 h-6 group-hover:-translate-y-0.5 transform transition-all'
  />
</a>
