---
type Props = {
  name: string
  url: string
  text: string
}

const { name, url, text } = Astro.props
---

<a
  class='w-full flex items-baseline space-x-3 group cursor-pointer'
  href={url}
  target='_blank'
>
  <p
    class='group-hover:text-blue-600 text-[rgba(0,0,0, 1)] dark:text-[rgba(255,255,255,1)] font-light shrink-0 break-words group-hover:-translate-y-0.5 transform transition-all'
  >
    {name}
  </p>
  <span
    class='w-full border-t border-[rgba(255,255,255,0.48)] border-dashed shrink group-hover:-translate-y-0.5 transform transition-all'
  ></span>
  <p
    class='text-[rgba(255,255,255,0.48)] font-light shrink-0 group-hover:-translate-y-0.5 transform transition-all'
  >
    {text}
  </p>
</a>
