---
import type { CollectionEntry } from 'astro:content'
import BaseHead from '../components/base-head.astro'
import MainLayout from './main-layout.astro'

type Props = CollectionEntry<'blog'>['data']

const post = Astro.props
---

<html lang='en' class='dark'>
  <head>
    <BaseHead title={post.title} description={post.description} />
  </head>
  <body>
    <MainLayout>
      <article class='prose max-w-3xl prose-invert'>
        <slot />
      </article>
    </MainLayout>
  </body>
</html>
